@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --bg-color: #011126;
  --secondary-bg-color: #14263e;
  --violet-color: #8d8dda;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
::selection {
  background: var(--violet-color);
  color: white;
}
html {
  width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: var(--bg-color);
  color: white;
  width: 100vw;
  overflow-x: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper {
  width: 90%;
}
a {
  color: inherit;
  text-decoration: none;
}
a:active{
  color: var(--violet-color);
}
mark {
  background: var(--violet-color);
}

::-webkit-scrollbar {
  display: none;
}

img {
  pointer-events: none;
  user-select: none;
}
h1 {
  font-family: "Outfit";
  text-transform: uppercase;
}
/* Styled button CSS Global */

.styled-btn {
  font-size: 18px;
  padding: 8px 15px;
  background: var(--violet-color);
  border-radius: 20px;
}
.styled-btn:active{
  color:black
}
@media screen and (max-width:400px) {
  .styled-btn{
    font-size: 14px;
  }
}

/* Splash Loader Effect */
.splash-loader {
  background: var(--bg-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
